/* VARIABLES */

:root {

    /* Spacings */
    --space: 18px;

    /* Font Family */
    --font: sans-serif;

    /* Pallete */
    --color1: #1F2023;
    --color2: #ffffff;
    --color3: #bebebe;

}

/* RESET CSS */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    
    font-size: 62.5%;
}

body {

    line-height: 1.5;
    font-family: var(--font);
    width: 100%;
}

a {  

    text-decoration: none;
	color: inherit;
}

ul {

    list-style: none;
}

button, input, textarea, select {

    font: inherit;
}

img {

    width: 100%;
}

/* BODY Y ENCABEZADO*/

body {

    background-image: url(./img/fondo.jpg);
    background-size: cover;
    background-position: center;

}

#principal {

    margin-inline: auto;
    margin-top: calc(2*var(--space));
    padding: var(--space);
    max-width: 600px;


    background: rgba(149, 149, 149, 0.25);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid rgba(149, 149, 149, 0.3);
}

#inicio {

    display: flex;
    justify-content: space-between;
    margin-bottom: var(--space);
}

#inicio h1 {

    font-size: 2em;
    color: white;
}

#instrucciones {

    width: 10em;
    height: 3em;
    
    display: flex;
    justify-content: center;
    align-items: center;

    background: rgba(255, 255, 255, 0.9);
    border: 1px solid rgba(255, 255, 255, 0.3);
    font-size: .9em;
    font-weight: 600;
}

p {

    text-align: left;
    font-size: 1.25em;
}

/* LAY OUT */

.botones ul {

    display: flex;
    gap: .75em;
    margin-block: calc(.6em);
}

.botones ul button {

    display: flex;
    flex-basis: 100%;
    justify-content: center;
    align-items: center;
    height: 2.5em;
}

.botones ul {

    margin-inline: auto;
}

.rutina {

    display: flex;
}

.rutina #btnAleatorio {
    
    height: 5em;
    padding-inline: 1em;
    margin-block: .5em;
    flex-basis: 100%;
}

.imagenes {
    
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-block: calc(2*var(--space));
}

.imagenes .figuras {

    width: 4em;
    height: auto;
}

.imagenes .figuras img {

    display: none;
}

.imagenes .figuras .display {

    display: block;
}

.imagenes .figuras #mezzoforte {

    height: 4em;
    width: auto;
}

/* ESTILOS BOTONES */

.botones button {

    font-family: var(--font);
    font-size: 1.15em;
    font-weight: 700;
    color: var(--color2);
    border: 1px solid var(--color2);
    background-color: var(--color1);
    cursor: pointer;
}

.botones #dificultad .enabled {

    box-shadow: none;
    box-shadow: inset 0.05em 0.05em black;
    background: var(--color2);
    color: var(--color1);
}

.botones .disabled {

    background-color: rgba(0, 0, 0, 0.1);
    border: 1px solid var(--color3);
    color: var(--color3);
    box-shadow: none;
    cursor: auto;
}

#btnAleatorio:hover,
#tonica .enabled,
#familia .enabled,
#modo .enabled,
#tecnica .enabled,
#nivel .enabled {
    background: var(--color2);
    color: var(--color1);
    box-shadow: none;
    box-shadow: inset 0.05em 0.05em black;
}

/* ESTILOS PIANO */

.piano {

    height: 18.875em;
    width: 34em;
    padding: 3em 0 0 3em;
    position: relative;
    text-align: center;

    border: 1px solid #160801;
    border-radius: 1em;
    background: linear-gradient(to bottom right,rgba(0,0,0,0.3),rgba(0,0,0,0)),url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/187/vwood.png);
    box-shadow: 0 0 50px rgba(0,0,0,0.5) inset,0 1px rgba(212,152,125,0.2) inset,0 5px 15px rgba(0,0,0,0.5);
}

.piano li {

    margin: 0;
    padding: 0;
    position: relative;
    float: left;
}
  
.piano .blanca {

    height: 16em;
    width: 4em;
    z-index: 1;
    line-height: 29em;

    border-left: 1px solid #bbb;
    border-bottom: 1px solid #bbb;
    border-radius: 0 0 5px 5px;
    box-shadow: -1px 0 0 rgba(255,255,255,0.8) inset,0 0 5px #ccc inset,0 0 3px rgba(0,0,0,0.2);
    background: linear-gradient(to bottom,#eee 0%,#fff 100%);
}
  
.piano .negra {

    height: 8em;
    width: 2em;
    line-height: 12em;
    margin: 0 0 0 -1em;
    z-index: 2;

    color: white;
    border: 1px solid #000;
    border-radius: 0 0 3px 3px;
    box-shadow: -1px -1px 2px rgba(255,255,255,0.2) inset,0 -5px 2px 3px rgba(0,0,0,0.6) inset,0 2px 4px rgba(0,0,0,0.5);
    background: linear-gradient(45deg,#222 0%,#555 100%);
}

.piano #pianoRE, #pianoMI, #pianoSOL, #pianoLA, #pianoSI {

    margin: 0 0 0 -1em;
}
  
.piano li:first-child {

    border-radius: 5px 0 5px 5px;
}
  
.piano li:last-child {

    border-radius: 0 5px 5px 5px;
}

.piano .blanca:active {

    border-top: 1px solid #777;
    border-left: 1px solid #999;
    border-bottom: 1px solid #999;
    box-shadow: 2px 0 3px rgba(0,0,0,0.1) inset,-5px 5px 20px rgba(0,0,0,0.2) inset,0 0 3px rgba(0,0,0,0.2);
    background: linear-gradient(to bottom,#fff 0%,#e9e9e9 100%);
}
  
.piano .negra:active {

    box-shadow: -1px -1px 2px rgba(255,255,255,0.2) inset,0 -2px 2px 3px rgba(0,0,0,0.6) inset,0 1px 2px rgba(0,0,0,0.5);
    background: linear-gradient(to right,#444 0%,#222 100%);
}

.piano .blancaTeclaActiva {

    border-top: 1px solid #777;
    border-left: 1px solid #999;
    border-bottom: 1px solid #999;
    box-shadow: 2px 0 3px rgba(0,0,0,0.1) inset,-5px 5px 20px rgba(0,0,0,0.2) inset,0 0 3px rgba(0,0,0,0.2);
    background: linear-gradient(to bottom,#fff 0%,#e9e9e9 100%);
}

.piano .negraTeclaActiva {

    box-shadow: -1px -1px 2px rgba(255,255,255,0.2) inset,0 -2px 2px 3px rgba(0,0,0,0.6) inset,0 1px 2px rgba(0,0,0,0.5);
    background: linear-gradient(to right,#444 0%,#222 100%);
}


/* MEDIA QUERIES */

@media(max-width: 500px) {

    html {
        font-size: 50%;
    }
}

@media(max-width: 425px) {

    .piano {
        font-size: 95%;
    }
}

@media(max-width: 400px) {

    .piano {
        font-size: 80%;
    }
}